*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.full-page 
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/background.jpeg);
    background-position: center;
    background-size: cover;
    position:fixed;
}

.login_button
{
    width: 500px;
    height: 58px;
    border-radius:22px ;
    font-size: 25px;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
    border: none;
    background-color: rgb(224, 217, 217);
    color: rgb(20, 22, 22);
    object-position: center;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;

}
.login_button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }

.button_position
{
    
    display:flex;
    height: 600px;
    width: 1400px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}

/* login css here*/
.form_blur{
    height: 520px;
    width: 400px;
    background-color: rgba(85, 34, 34, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color:rgb(206, 166, 194);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

input:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);

}

::placeholder{
    color: #e5e5e5;
}
.button_with_hover{
    margin-top: 50px;
    width: 100%;
    background-color: #a15a9e;
    color: #edebfa;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 0px 17px 10px -10px rgba(119, 48, 110, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}


.button_with_hover:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
  }

/* register css here*/

.form_register {
    height: 620px;
    width: 500px;
    background-color: rgba(85, 34, 34, 0.13);
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 25px;

}

.register_input {
    display:ruby-base-container;
    height: 40px;
    width:100%;
    background-color:rgb(206, 166, 194);
    border-radius: 12px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}

.form_h3 {
    font-size: 32px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
}

/* data page css here*/

.all_data_page_full_backround {
    height: 300%;
    width: 110%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/background.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;


}

.head_line_page {
    text-align: center;
    backdrop-filter: blur(70px);
    padding: 5px;
    width: 1365px;
    height: 100px;
    position:fixed
    

}

.head_line_page_for_view {
    text-align: center;
    background-image: linear-gradient(rgb(107, 105, 105),rgb(163, 159, 159));
    padding: 5px;
    width: 1365px;
    height: 100px;
    position:fixed
    
}

.form_create_doner {
    height: 608px;
    width: 800px;
    background-color: rgba(85, 34, 34, 0.13);
    position:fixed;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 25px;

}

option {
    color: black;
    
}

.form_search {
    position:absolute;

}

.search_input {
    display:ruby-base-container;
   
    background-color:rgb(246, 255, 251);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
    
}

